<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy; ZenSpots 2022</span>
        <a class="link-secondary" href="/help"><span>Help <i class="fa-solid fa-circle-question"></i></span></a>
    </div>
</footer>
