<% layout('/layouts/boilerplate') %>
<h2 class="mb-3">Help</h2>
<div class="accordion" id="accordionHelp">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          How do I navigate the web site?
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionHelp">
        <div class="accordion-body">
            To navigate the Zen Spots website, tap the burger menu on the top right of the screen to show the navigation menu.
            <img style="margin-top: 1rem; width: 14rem" src="/assets/help/help-nav.png"> 
            <img style="margin-top: 1rem; width: 14rem" src="/assets/help/help-nav2.png"> 
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          How do I create an account?
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionHelp">
        <div class="accordion-body">
          To create an account, open the navigation menu and tap 'Register'. This will take you to the registration page where you can enter your details to create a new account.
          <img src="/assets/help/help-reg.png" style="margin-top: 1rem; width: 14rem">
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          How do I log in?
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionHelp">
        <div class="accordion-body">
            To log in to your account, open the navigation menu and tap 'Log in'. This will take you to the log inpage where you can enter your details to log into your account.
            <img src="/assets/help/help-l.png" style="margin-top: 1rem; width: 14rem">
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFour">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
          How do I see Zen Spots?
        </button>
      </h2>
      <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionHelp">
        <div class="accordion-body">
            To view a Zen Spot, open the navigation menu and tap 'Zen Spots'. This will take you to the Zen Spots page where you see a list of user created Zen Spots. To view a Zen Spot in more detail, tap 'See Zenspot'
            <img src="/assets/help/help-z.png" style="margin-top: 1rem; width: 14rem">
            <img src="/assets/help/help-vz.png" style="margin-top: 1rem; width: 14rem">
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFive">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          How do I create a Zen Spot?
        </button>
      </h2>
      <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionHelp">
        <div class="accordion-body">
          To create a Zen Spot, log in to your account and tap the 'New Zenspot' link in the navigation menu. Fill out the details of your new Zen Spot and tap 'Add Zenspot'
          <img src="/assets/help/help-newz.png" style="margin-top: 1rem; width: 14rem">
        </div>
      </div>
    </div>
  </div>