<% layout('/layouts/boilerplate') %>

<div class="row">
    <h1 class="text-center">New Zenspot</h1>
    <div class="col-6 offset-3">
        <form action="/zenspots" method="POST" novalidate class="needs-validation">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="zenspot[title]" required/>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="zenspot[location]" required/>
            </div>
            <div class="mb-3">
                <label class="form-label" for="image">ImageUrl</label>
                <input class="form-control" type="text" id="image" name="zenspot[image]" required/>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="zenspot[description]" required></textarea>
            </div>
            <button class="btn btn-primary mb-3">Add Zenspot</button>
        </form>
        <a href="/zenspots">All Zenspots</a>
    </div>
</div>


