<% layout('/layouts/boilerplate') %>
<h2 class="mb-4">Admin Panel</h2>

<h4>Create Zenspot</h4>
<div class="d-flex mb-3">
    <form id="create-zenspot-form" class="needs-validation" novalidate >
        <div class="mb-3">
            <label class="form-label" for="title">Title</label>
            <input class="form-control" type="text" id="title" name="title" required/>
        </div>
        <div class="mb-3">
            <label class="form-label" for="location">Location</label>
            <input class="form-control" type="text" id="location" name="location" required/>
        </div>
        <div class="mb-3">
            <label class="form-label" for="image">ImageUrl</label>
            <input class="form-control" type="text" id="image" name="image" required/>
        </div>
        <div class="mb-3">
            <label class="form-label" for="description">Description</label>
            <textarea class="form-control" type="text" id="description" name="description" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary" id="create-zenspot-btn" onclick="handleSubmitZenspot()">Create Zenspot</button>
    </form>
</div>

<h4>All Zenspots</h4>
<div class="table-responsive m-3">
    <table class="table" id="zenspot-list">
        <thead>
            <tr>
                <th>Id</th>
                <th>title</th>
            </tr>
        </thead>
        <tbody id="zenspot-list-tbody">
        </tbody>
    </table>
</div>

<h4>Create User</h4>
<div class="d-flex mb-3">
    <form id="create-user-form" class="needs-validation" novalidate >
        <div class="mb-3">
            <label class="form-label" for="email">email</label>
            <input class="form-control" type="text" id="email" name="email" required/>
        </div>
        <div class="mb-3">
            <label class="form-label" for="username">Username</label>
            <input class="form-control" type="text" id="username" name="username" required/>
        </div>
        <div class="mb-3">
            <label class="form-label" for="password">Password</label>
            <input class="form-control" type="password" id="password" name="password" required/>
        </div>
        <div class="mb-3">
            <label class="form-label" for="usertype">Usertype</label>
            <input class="form-control" type="text" id="usertype" name="usertype" required/>
        </div>
        <button type="submit" class="btn btn-primary" id="create-user-btn" onclick="handleSubmitUser()">Create User</button>
    </form>
</div>

<h4>All Users</h4>
<div class="table-responsive m-3">
    <table class="table" id="user-list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
            </tr>
        </thead>
        <tbody id="user-list-tbody">
        </tbody>
    </table>
</div>

<h4>Create comment</h4>
<div class="d-flex mb-3">
    <form id="create-comment-form" class="needs-validation" novalidate >
        <div class="mb-3">
            <label class="form-label" for="id">Zenspot Id</label>
            <input class="form-control" type="text" id="id" name="id" required/>
        </div>
        <div class="mb-3">
            <label class="form-label" for="body">Comment body</label>
            <input class="form-control" type="text" id="body" name="body" required/>
        </div>
        <button type="submit" class="btn btn-primary" id="create-comment-btn" onclick="handleSubmitComment()">Create Comment</button>
    </form>
</div>

<h4>All Comments</h4>
<div class="table-responsive m-3">
    <table class="table" id="comment-list">
        <thead>
            <tr>
                <th>Id</th>
                <th>body</th>
            </tr>
        </thead>
        <tbody id="comment-list-tbody">
        </tbody>
    </table>
</div>

<h4>Create News Post</h4>
<div class="d-flex mb-3">
    <form id="create-news-form" class="needs-validation" novalidate >
        <div class="input-group mb-3">
            <label for="title">
                <input class="form-control" type="text" name="title" id="title" placeholder="title"
                    required>
            </label>
        </div>
        <div class="input-group mb-3">
            <label for="body">
                <input class="form-control" type="text" name="body" id="body" placeholder="body"
                    required>
            </label>
        </div>
        <button type="submit" class="btn btn-primary" id="create-news-btn" onclick="handleSubmitNews()">Create News</button>
    </form>
</div>

<h4>All News</h4>
<div class="table-responsive m-3">
    <table class="table" id="news-list">
        <thead>
            <tr>
                <th>Id</th>
                <th>title</th>
            </tr>
        </thead>
        <tbody id="news-list-tbody">
        </tbody>
    </table>
</div>


<script src="/js/adminActions.js"></script>
