<% layout('/layouts/boilerplate') %>
<div class="row">
    <h1 class="text-center">My Account</h1>
    <div class="col-6 offset-3">
        <form action="" method="">
            <div class="mb-3">
                <label class="form-label" for="password">Enter new password</label>
                <input class="form-control" type="password" id="password" name="zenspot[title]" value=""/>
            </div>
            <div class="mb-3">
                <label class="form-label" for="password-repeat">Re-enter new password</label>
                <input class="form-control" type="password" id="passwword-repeat" name="password-repeat" value=""/>
            </div>

            <button class="btn btn-primary mb-3">Update Password</button>
        </form>
    </div>
</div>