<% layout('/layouts/boilerplate') %>
<h1>Register</h1>
<form action="/register" class="needs-validation" novalidate method="POST">
    <div class="mb-3">
        <label class="form-label" for="username">Username</label>
        <div class="inputUser">
            <input type="text" class="form-control" name="username" id="username" required>
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label" for="email">Email</label>
        <div class="inputEmail">
            <input type="email" class="form-control" name="email" id="email" required>
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label" for="password">Password</label>
        <div class="inputPassword">
            <input type="password" class="form-control" name="password" id="password"  required>
        </div>
    </div>
    <button class="btn btn-primary" id="form-btn" onclick="handleSubmit()">Register <i class="fa fa-sign-in"
            aria-hidden="true"></i></button>
</form>
<script src="/js/handleSubmit.js"></script>