<% layout('/layouts/boilerplate') %>

<h3 class="h3 mb-4">Settings</h3>
</div>
<div class="list-group mb-5 shadow">
    <div class="list-group-item">
        <div class="row align-items-center">
            <div class="col">
                <strong class="mb-0">Dark Theme</strong>
                <p class="text-muted mb-0">Toggle between Dark and Light theme.</p>
            </div>
            <div class="col-auto">
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="toggle-theme" checked="" />
                    <span class="custom-control-label"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/toggleTheme.js"></script>